{% extends 'menu_admin/registers/compositions/detail_composition.html' %}
{% load static %}

{% block add_input_content %}
  {% if form.errors %}
    <div class="alert alert-danger">
      {% for field in form %}
        {% for error in field.errors %}
          <div>{{ error }}</div>
        {% endfor %}
      {% endfor %}
      {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
          <div>{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  {% endif %}
  <form method="POST">
    {% csrf_token %}
    <table class="table table-bordered">
      <thead>
        <td>
          <b>Insumo</b>
        </td>
        <td>
          <b>Quantidade</b>
        </td>
      </thead>
      <tbody>
        <tr>
          {% load custom_tags %}
          <input type="hidden" name="{{ form.salable.name }}" value="{{ form.salable.initial }}" />
          <td>{{ form.input|add_class:'form-select' }}</td>
          <td>{{ form.quantity|add_class:'form-control' }}</td>
        </tr>
      </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Adicionar</button>
  </form>
{% endblock %}
