{% extends 'menu_admin/base_menu.html' %}
{% load static %}

{% block menu_admin_content %}
  <div class="container mt-4">
    <h1>Composição: {{ salable.name }}</h1>
    <div class="d-flex justify-content-between mb-3">
      <form method="GET" class="form-control size-form-control">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <input type="text" name="q" class="form-control" placeholder="Buscar Insumo" value="{{ query }}" />
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary ml-2">Buscar</button>
          </div>
        </div>
      </form>
      <button type="button" data-bs-toggle="modal" data-bs-target="#createCompositionModal" data-create="true" class="btn btn-primary" style="height: auto; width: auto; max-height: 60px;">Adicionar Insumo +</button>
    </div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Insumo</th>
          <th class="size-QuantComposition">Quantidade</th>
          <th class="size-ActiveActions">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for composition in compositions %}
          <tr>
            <td>{{ composition.input.name }} - {{ composition.input.unit }}</td>
            <form method="POST" action="{% url 'detail-composition' %}">
              {% csrf_token %}
              <td class="size-QuantComposition">
                <input type="text" name="composition_quantity" class="form-control" value="{{ composition.quantity }}" />
                <input type="hidden" name="composition_quantity_id" value="{{ composition.id }}" />
              </td>
            </form>
            <form method="POST" action="{% url 'detail-composition' %}">
              {% csrf_token %}
              <td>
                <input type="submit" name="composition_delete" class="btn btn-secondary" value="Excluir" />
                <input type="hidden" name="composition_delete_id" value="{{ composition.id }}" />
              </td>
            </form>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="modal fade" id="createCompositionModal" tabindex="-1" aria-labelledby="createCompositionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 1050px;">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCompositionModalLabel">Adicionar Composição</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="modal-errors" class="alert alert-danger d-none mx-3 mt-3"></div>
        <div class="modal-body">
          <form id="createForm" method="POST" action="#">
            {% csrf_token %}
            <table class="table table-bordered">
              <thead>
                <td>
                  <b>Insumo</b>
                </td>
                <td>
                  <b>Quantidade</b>
                </td>
              </thead>
              <tbody>
                <tr>
                  {% load custom_tags %}
                  <input type="hidden" name="{{ form.salable.name }}" value="{{ form.salable.initial }}" />
                  <td>{{ form.input|add_class:'form-select' }}</td>
                  <td>{{ form.quantity|add_class:'form-control' }}</td>
                </tr>
              </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'admingigapizza/js/wild_form.js' %}"></script>
{% endblock %}
