{% extends 'menu_admin/base_menu.html' %}
{% load static %}

{% block menu_admin_content %}
<div class="container mt-4">
  <h1>Itens P/ Venda</h1>
  <div class="d-flex justify-content-between mb-3">
    <form method="GET" class="form-control size-form-control">
      <div class="row g-3 align-items-center">
        <div class="col-auto">
          <input type="text" name="q" class="form-control" placeholder="Buscar Item" value="{{ query }}">
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary ml-2">Buscar</button>
        </div>
      </div>
    </form>
    <a href="{% url "create-salable" %}" class="btn btn-primary" style="height: auto; width: auto; max-height: 60px;">Adicionar Item P/ Venda +</a>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Subcategoria</th>
        <th class="size-ActiveActions">Ativo</th>
        <th class="size-ActiveActions">Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for salable in salables %}
      <tr>
        <form method="POST" action="{% url 'list-salables' %}">
          {% csrf_token %}
          <td>
            <input type="text" name="salable_name" class="form-control" value="{{ salable.name }}">
            <input type="hidden" name="salable_name_id" value="{{ salable.id }}">
          </td>
        </form>
        <td>
          {{ salable.description }}
        </td>
        <form method="POST" action="{% url 'list-salables' %}">
          {% csrf_token %}
          <td class="size-CategTypePrice">
            <div class="input-group">
              <span class="input-group-text">R$</span>
              <input type="text" name="salable_price" class="form-control" value="{{ salable.price }}">
              <input type="hidden" name="salable_price_id" value="{{ salable.id }}">
            </div>
          </td>
        </form>
        <td class="size-CategTypePrice">{{ salable.subcategory }}</td>
        <form method="POST" action="{% url 'list-salables' %}">
          <td class="checkbox-align">
            {% csrf_token %}
            <input type="hidden" name="salable_id" value="{{ salable.id }}">
            <input type="checkbox" onchange="this.form.submit();" {% if salable.is_active %}checked{% endif %}>
          </td>
        </form>
        <td>
          <a href="{% url 'create-salable' %}?edit_id={{ salable.id }}" class="btn btn-secondary">Editar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}