body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.card {
  max-width: 90%;
  width: 30rem;
  padding: 2rem;
  margin: auto;
}

.card-menu {
  padding: 2rem;
  width: 100%;
  height: 98%;
}

.margin-top {
  margin-top: 30px;
}

.btn-width {
  max-width: 10rem;
  width: 40%;
}

.color-header {
  --bs-bg-opacity: 1;
  background-color: #bb1d1d;
}

.checkbox-align {
  text-align: center;
  vertical-align: middle;
}

.select-fk {
  min-width: 120px;
  width: 15%;
}

.size-form-control {
  width: 50%;
  max-width: fit-content;
}

.size-CategTypePrice {
  width: 15%;
}

.size-Quant {
  width: 12%;
}