{% extends 'menu_admin/base_menu.html' %}
{% load static %}

{% block menu_admin_content %}
  <div class="container mt-4">
    <h1>Editar Subcategoria</h1>

    {% if form.errors %}
      <div class="alert alert-danger">
        {% for field in form %}
          {% for error in field.errors %}
            <div>{{ error }}</div>
          {% endfor %}
        {% endfor %}
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <div>{{ error }}</div>
          {% endfor %}
        {% endif %}
      </div>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% if form.instance.id %}
              <input type="hidden" name="edit_id" value="{{ form.instance.id }}" />
            {% endif %}
            {% load custom_tags %}
            <td>{{ form.name|add_class:'form-control' }}</td>
            <td class="select-fk">{{ form.category|add_class:'form-select' }}</td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a href="{% url 'list-subcategories' %}" class="btn btn-primary">Voltar</a>
    </form>
  </div>
{% endblock %}
